# EditorConfig helps developers define and maintain consistent coding styles between different editors and IDEs
# For more details, visit https://editorconfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines
[*]
end_of_line = LF
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false
